@font-face {
  font-family: "iconfont"; /* Project id 4337982 */
  src: url('iconfont.woff2?t=1705632430382') format('woff2'),
       url('iconfont.woff?t=1705632430382') format('woff'),
       url('iconfont.ttf?t=1705632430382') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e711";
}

